openapi: 3.0.0
info:
  title: 'BAS Stat API'
  version: 0.1.1
servers:
  -
    url: 'http://stat.adid.fun'
    description: 公司测试环境
  -
    url: 'http://stat.xget.fun'
    description: 'Local 测试环境'
paths:
  '/api/{table_name}/{start_date}/{end_date}/{offset}/{limit}':
    get:
      tags:
        - api
      operationId: stat
      parameters:
        -
          name: table_name
          in: path
          description: '表名. Such as `day_ad_pv_stat` `day_ad_uv_stat` `group_app_province_pv_stat` .etc'
          required: true
          schema:
            type: string
            default: day_ad_pv_stat
            enum:
              - app_region_nuv_stat
              - app_region_pv_stat
              - app_region_uv_stat
              - app_uv_stat
              - day_ad_province_pv_stat
              - day_ad_pv_stat
              - day_ad_region_pv_stat
              - day_ad_uv_stat
              - day_app_ad_pv_stat
              - day_app_asset_pv_stat
              - day_app_overlap_stat
              - day_app_province_pv_stat
              - day_app_province_uv_stat
              - day_app_pv_stat
              - day_app_region_pv_stat
              - day_app_region_uv_stat
              - day_app_uv_stat
              - day_asset_province_pv_stat
              - day_asset_pv_stat
              - day_asset_region_pv_stat
              - day_asset_uv_stat
              - day_group_app_province_pv_stat
              - day_group_app_province_uv_stat
              - day_group_app_region_pv_stat
              - day_group_app_region_uv_stat
              - day_group_nuv_stat
              - day_group_pv_stat
              - day_group_region_pv_stat
              - day_group_uv_stat
              - day_hour_ad_pv_stat
              - day_hour_asset_pv_stat
              - day_hour_group_app_region_pv_stat
              - day_region_pv_stat
              - day_region_uv_stat
              - day_uv_stat
              - group_app_province_pv_stat
              - group_app_province_uv_stat
              - group_app_region_pv_stat
              - group_app_region_uv_stat
              - group_nuv_stat
              - group_pv_stat
              - group_uv_stat
              - region_nuv_stat
              - region_uv_stat
        -
          name: start_date
          in: path
          description: '开始日期. Such as `20190129` `20191111` '
          required: true
          schema:
            type: integer
            default: 20190101
        -
          name: end_date
          in: path
          description: '截止日期. Such as `20190129` `20191111` '
          required: true
          schema:
            type: integer
            default: 20191010
        -
          name: offset
          in: path
          description: '偏移量. Such as `0` `10023` '
          required: true
          schema:
            type: integer
            default: 10
        -
          name: limit
          in: path
          description: 'Limit. Such as `0` `200` '
          required: true
          schema:
            type: integer
            default: 10
        -
          name: adid
          in: query
          description: '广告 ID . Such as `1791` `1792,1793,1794` '
          required: false
          schema:
            type: string
            default: ''
        -
          name: groupid
          in: query
          description: '广告组 ID . Such as `123` `123,234,223` '
          required: false
          schema:
            type: string
            default: ''
        -
          name: assetid
          in: query
          description: '素材 ID . Such as `234` `444,123,12312` '
          required: false
          schema:
            type: string
            default: ''
        -
          name: regioncode
          in: query
          description: '城市代码. Such as `310100` `310100,110100` '
          required: false
          schema:
            type: string
            default: ''
        -
          name: provincecode
          in: query
          description: '省份代码.Such as `310000` `310000,110000` '
          required: false
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatResponse'
        '500':
          description: 错误
components:
  schemas:
    StatResponse:
      title: ResponseSchema
      description: 统计接口
      properties:
        status:
          title: Status
          description: 响应状态
          type: integer
          format: int32
          example: 200
        data:
          title: 'Response Data'
          description: 数据
          $ref: '#/components/schemas/StatResponseData'
        error:
          title: Error
          description: 错误信息
          type: string
          format: string
          example: ''
      type: object
      xml:
        name: StatResponse
    StatResponseData:
      title: ResponseSchema-Data
      description: 返回的结果中的数据集
      properties:
        total:
          title: Total
          description: 数据库中匹配的查询结果行数
          type: integer
          format: int32
          example: 12
        offset:
          title: Offset
          description: 查询时的偏移量(用于分页展示)
          type: integer
          format: int32
          example: 10
        limit:
          title: Limit
          description: 此次请求返回的结果集中数据最大行数
          type: integer
          format: int32
          example: 3
        count:
          title: Count
          description: 当前返回的结果集中数据的行数
          type: integer
          format: int32
          example: 2
        list:
          title: List
          description: 数据集
          type: array
          items:
            $ref: '#/components/schemas/StatResponseDataList'
          xml:
            name: list
            wrapped: true
      type: object
      xml:
        name: StatResponseData
    StatResponseDataList:
      title: StatResponseDataList
      description: 结果集
      properties:
        day:
          title: Day
          description: '数据举例 - 日期'
          type: integer
          format: int32
          example: 20191001
        adid:
          title: Adid
          description: '数据举例 - 广告 ID'
          type: integer
          format: int32
          example: 11745
        ad_title:
          title: 'Ad Title'
          description: '数据举例 - 广告名称'
          type: string
          format: string
          example: mgtv-电视购物-E-收银机A01-190911-S
        uv:
          title: UV
          description: '数据举例 - 用户数'
          type: integer
          format: int32
          example: 234129
      type: object
      xml:
        name: StatResponseDataList
