openapi: 3.0.0
info:
  title: 'BAS Admin API'
  description: 'BAS-Admin 后台接口文档'
  version: 0.1.1
servers:
  -
    url: 'http://admin.adid.fun'
    description: 公司测试环境
  -
    url: 'http://admin.xget.fun'
    description: 'Local 测试环境'
  -
    url: 'http://localhost:21306'
    description: 'Local 测试环境'
paths:
  '/ads/ad/{id}':
    get:
      tags:
        - ads
      summary: 'Get an ads_ad'
      operationId: get
      parameters:
        -
          name: id
          in: path
          description: '广告 ID. Such as `123`'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema: {  }
        '500':
          description: 错误
          content:
            application/json:
              schema: {  }
    put:
      tags:
        - ads
      summary: 'Update a new ads_ad'
      operationId: put
      parameters:
        -
          name: id
          in: path
          description: '广告 ID. Such as `123`'
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        description: 'Update AdsAd object'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ads'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema: {  }
        '500':
          description: 错误
          content:
            application/json:
              schema: {  }
    delete:
      tags:
        - ads
      summary: 'Delete an ads_ad'
      operationId: delete
      parameters:
        -
          name: id
          in: path
          description: '广告 ID. Such as `123`'
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema: {  }
        '500':
          description: 错误
          content:
            application/json:
              schema: {  }
  /ads/ad:
    post:
      tags:
        - ads
      summary: 'Adds a new ads_ad'
      operationId: post
      requestBody:
        description: 'Create AdsAd object'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ads'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema: {  }
        '500':
          description: 错误
          content:
            application/json:
              schema: {  }
components:
  schemas:
    Ads:
      title: Ads
      description: Ads
      properties:
        title:
          description: '广告标题: 最长 255，最短 3;  .eg: `测试广告标题`'
          type: string
          maximum: 255
          minimum: 3
          example: 测试广告标题
        alias:
          description: '广告别名: 最长 255;  .eg: `测试广告别名`'
          type: string
          maximum: 255
          example: 测试广告别名
        timeStart:
          description: '开启时间: 格式化日期字符串（只支持 Y-m-d H:i:s）;  .eg: `2019-10-12 18:47:11`'
          type: string
          format: datetime
          example: '2019-10-12 00:00:00'
        timeEnd:
          description: '结束时间: 格式化日期字符串（只支持 Y-m-d H:i:s）;  .eg: `2019-12-29 18:47:11`'
          type: string
          format: datetime
          example: '2019-10-29 23:59:59'
        userId:
          description: '用户id: 必须为 int 必须大于 0;  .eg: `6379`'
          type: integer
          format: int32
          minimum: 1
          example: 1
        budget:
          description: '预算;  .eg: `1203.32`'
          type: number
          format: float
          minimum: 0
        budgetSchema:
          description: '预算分配方案;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        progress:
          description: '投放进度，百分比，该字段动态更新;  .eg: `24.32`'
          type: number
          format: float
          minimum: 0
        workTimeSwitch:
          description: '是否全天 0：是；1：否;  .eg: `0`'
          type: integer
          format: int32
          enum:
            - 0
            - 1
          example: 0
        workTime:
          description: '广告投放时间段;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        schedule:
          description: '排量;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        monitor:
          description: '监测URLs;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        status:
          description: '0: 关闭 1:开启 9:测试 -1: 删除;  .eg: `0`'
          type: integer
          format: int32
          enum:
            - -1
            - 0
            - 1
            - 9
          example: 0
        extra:
          description: '扩展设置;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        reConf:
          description: 'rules engine config;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        priority:
          description: '优先级;  .eg: `6`'
          type: integer
          format: int32
          maximum: 9
          minimum: 0
          example: 6
        mgtvVar:
          description: '芒果tv的参数集;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        formatId:
          description: '广告形式 ID;  .eg: `6`'
          type: integer
          format: int32
          maximum: 9999
          minimum: 0
          example: 9
        supConf:
          description: '矩阵-光芒广告配置;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        supSwitch:
          description: '矩阵-光芒广告状态;  .eg: `0`'
          type: integer
          format: int32
          enum:
            - 0
            - 1
          example: 0
        supStatus:
          description: '辅助渠道启停状态(0: 关闭; 1: 正在执行; 2: 执行完成; 3: 中止;);  .eg: `0`'
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
          example: 0
        supApp:
          description: '辅助渠道;  .eg: `[]`'
          type: array
          items: {  }
          example: []
        monitorType:
          description: '监测方式(0:无; 1:常规第三方监测; 2:无第三方监测; 3:BAS-PDB);  .eg: `0`'
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
          example: 0
        assetWidth:
          description: '素材宽;  .eg: `0`'
          type: integer
          format: int32
          minimum: 0
          example: 0
        assetHeight:
          description: '素材高;  .eg: `0`'
          type: integer
          format: int32
          minimum: 0
          example: 0
        filesize:
          description: 'byte;  .eg: `0`'
          type: integer
          format: int32
          minimum: 0
          example: 0
        duration:
          description: '时长，单位：秒;  .eg: `15.12`'
          type: number
          format: float
          minimum: 0
          example: 0
        mimetype:
          description: 'MIME Type: 最长 50;  .eg: `video/mp4`'
          type: string
          maximum: 50
          example: null
        url:
          description: '资源地址，内部资源使用相对地址: 最长 512;  .eg: `http://www.mgtv.com/l/100027673/6918112.html`'
          type: string
          maximum: 512
          example: null
        cover:
          description: '资源封面 - 缩略图 使用相对地址: 最长 512;  .eg: `/upload/asset/fe/fee9551f16e7ef55249763f99549ea97.jpg`'
          type: string
          maximum: 512
          example: null
        parsable:
          description: '是否可解析，1 为 VAST 资源;  .eg: `0`'
          type: integer
          format: int32
          enum:
            - 0
            - 1
          example: 0
      type: object
